.tab-skill
  .tab-skill__header
    div.checkbox
      input(type="checkbox")
      span.checkbox__mark
      span.checkbox__label Разработка сайтов
    include arrow.svg
  .tab-skill__items
    div.checkbox
      input(type="checkbox")
      span.checkbox__mark
      span.checkbox__label Верстка
    div.checkbox
      input(type="checkbox")
      span.checkbox__mark
      span.checkbox__label Бэкенд
    div.checkbox
      input(type="checkbox")
      span.checkbox__mark
      span.checkbox__label Фронтенд