include ../../checkbox/checkbox

.tab-skill
  .tab-skill__header
    +checkbox('Дизайн')
    include arrow.svg
  .tab-skill__items
    +checkbox('Фирменный стиль')
    +checkbox('Логотипы')
    +checkbox('Брендбук')