.header-menu
  ul.header-menu__list
    li.header-menu__item
      a(href="#") Профиль
    li.header-menu__item
      a(href="#") Настройки
    li.header-menu__item.logout
      a(href="#") Выход
        include logout.svg