mixin social-sign(title)
  div.social-sign
    p.social-sign__label= title
    div.social-sign__socials
      a.social-sign__social(href='#')
        include facebook.svg
      a.social-sign__social(href='#')
        include google.svg
      a.social-sign__social(href='#')
        include vk.svg
      a.social-sign__social(href='#')
        include ok.svg
      a.social-sign__social(href='#')
        include mail.svg


