include ../../like-dislike/like-dislike

mixin card-person(status, color)
  if (status)
    a(href="#").card-person
      .card-person__photo
      .right
        span.card-person__name Денис Митряков
        +card-status(color, status)
  else
    a(href="#").card-person
      .card-person__photo
      .right
        span.card-person__name Денис Митряков
        +like-dislike()


