@import "../../../sass/colors"

// header start
.index-header
  position: fixed
  top: 0
  width: 100%
  height: 9rem
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 4rem

  .nav__list
    align-items: center

  .nav__item
    display: flex
    align-items: center
    a
      height: unset
      line-height: unset
      color: $white

  .logo
    svg
      path
        fill: $white

.enter-btn
  background: transparent
  border: none
  padding-left: 3.4rem
  padding-right: 1.4rem
  padding-top: 0.5rem
  padding-bottom: 0.5rem
  color: $white
  font-weight: 500
  display: flex
  align-items: center
  position: relative
  cursor: pointer
  svg
    position: absolute
    left: 0
// header end

.main
  height: 100vh
  width: 100%
  background: url("index-bg.jpg")
  background-position: top center
  background-size: cover

.preview
  h1
    text-align: center
    color: $white

.preview__btn
  background: $white
  border: none
  color: #1A5A41

