@import "../../../sass/colors"

main
  padding-top: 0

.header
  background-color: transparent
  border-bottom: none
  box-shadow: none

  .logo
    svg
      path
        fill: white


  .nav__item
    a
      color: $white

  .control-panel__item
    color: $white

  .nav__list
    align-items: center

.nav__item_index-page
  cursor: pointer
  font-weight: 500
  line-height: 1.15em
  font-size: 1.4rem
  padding: .572em 1.1em
  border-radius: 3.6rem
  min-width: fit-content
  background: linear-gradient(347.4deg, #008666 31.95%, #15BC8A 101.43%)
  border: 1px solid rgba(255, 255, 255, 0.19)
  box-shadow: 0 4px 11px rgba(41, 230, 173, 0.34)
  color: $white
  a
    line-height: unset

  &:hover
    background: linear-gradient(174.39deg, #22DCA7 3.34%, #099E74 82.52%)


.preview
  height: 100vh
  background: linear-gradient(0deg, #0EAA7E, #0EAA7E), radial-gradient(66.92% 92.57% at 39.76% 64.54%, #19885D 41.15%, #1BAC73 100%)
