include ../../components/button/button

header.header
  nav.nav
    a.logo(href="profile.html")
      include ../../../assets/img/logo.svg
    ul.nav__list
      // Для активного элемента меню добавить класс -is-active-
      li.nav__item
        a(href="task-create.html") Создать задание
      li.nav__item.-is-active-
        a(href="task-list.html") Задания
  div.control-panel
    .control-panel__item.button-enter Вход
    .control-panel__item.button-reg-fiz Зарегистрироваться
    .menu-btn
      span
  // Меню дублируется, нужно прописать все ссылки
  .menu
    .nav__item
      a(href="task-create.html") Создать задание
    .nav__item
      a(href="task-list.html") Задания
    .separator
    .nav__item
      a(href="profile.html") Вход
    .nav__item
      a(href="tariff.html") Регистрация















