include ../../components/button/button

header.header
  nav.nav
    a.logo(href="profile.html")
      include ../../../assets/img/logo.svg
    ul.nav__list
      // Для активного элемента меню добавить класс -is-active-
      li.nav__item
        a(href="task-create.html") Создать задание
      li.nav__item.-is-active-
        a(href="task-list.html") Задания
  div.control-panel
    a.button.button_border.button_default(href="tariff.html") Оплатить тариф
    div.notice
      include notice.svg
      span.notice__count 12
      include ../../components/notification/notification-block
    div.control-panel__account
      div.control-panel__photo.active
      include ../../components/header-menu/header-menu
    .menu-btn
      span
  // Меню дублируется, нужно прописать все ссылки
  .menu
    .nav__item
      a(href="task-create.html") Создать задание
    .nav__item
      a(href="task-list.html") Задания
    .separator
    .nav__item
      a(href="profile.html") Профиль
    .nav__item
      a(href="tariff.html") Тарифы
    .nav__item
      a.button-my-elect Мои избранные
    .nav__item
      a(href="settings.html") Настройки
    .nav__item.logout
      a(href="#") Выход














