doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, width=device-width')
    title
      block title
  body
    include ../includes/header/header
    main.main
      block main

    include ../includes/footer/footer

    block modals
