@import "typography"
@import "colors"

*
  box-sizing: border-box

  &:focus,
  &:visited,
  &:active,
  &:hover
    outline: none

input,
textarea
  -webkit-appearance: none

main
  padding-top: 6rem

ul
  padding: 0
  margin: 0
  list-style: none

a
  text-decoration: none

.container
  max-width: 122rem
  padding: 0 2rem
  margin: 0 auto

.aside
  max-width: 28rem
  width: 100%

.wrapper
  max-width: calc(100% - 28rem - 2rem)
  width: 100%
