@media screen and (max-width: 900px)
  .nav
    width: unset

  .header
    .logo
      margin-right: 5rem

  .footer-nav__item
    margin-right: 2rem

  .footer-nav
    margin-right: 2rem

  .footer-social__item
    margin-right: 2.5rem



@media screen and (max-width: 768px)
  .nav__list
    display: none

  .control-panel
    .button
      display: none

  .aside
    display: flex
    align-items: center
    flex-direction: row-reverse
    max-width: unset
    flex-wrap: wrap
    justify-content: flex-end
    margin-top: 5rem
    .button
      display: inline-block
      margin: 0
      margin-bottom: 2rem

  .profile-elect
    display: inline-block
    padding: 0
    border: none
    margin-bottom: 2rem
    margin-right: 2rem
    &:hover
      border: none

  .header-menu
    font-size: 1.8rem

  .wrapper
    max-width: unset

  .profile-person__info
    .row
      flex-direction: column
      margin-bottom: 2rem

  .profile-person__city
    margin-bottom: 1rem

  .contact
    flex-direction: column

  .profile-contact
    margin-bottom: 2rem


  //Footer
  .footer-nav
    flex-direction: column

  .footer-nav__list
    flex-direction: column
    align-items: unset
    margin-bottom: 1rem

  .footer
    .logo
      margin-bottom: 1rem

  .footer-nav__item
    margin-bottom: 1rem
    &:last-child
      margin-bottom: 0

  .footer
    .container
      flex-direction: column

@media screen and (max-width: 450px)
  .card
    padding: 1em 2.2rem
    flex-direction: column
    position: relative

  .card-status
    display: block

  .card-buttons
    margin-top: 1rem
    justify-content: space-between
    .button
      width: calc(50% - 0.5rem)
      &:last-child
        margin: 0

  .card-title
    margin-bottom: 2rem

  .card-info,
  .card-person
    height: 12rem
    justify-content: space-between
    margin-bottom: 2rem

  .card-person
    flex-direction: column
    position: absolute
    bottom: calc(5.8rem)

  .card-info__price,
  .card-info__respond
    margin: 0

  .card-person__name
    margin-bottom: 0.5rem

  .notification-block
    width: 34rem