@import "../../../../sass/colors"

.card-status
  display: inline-block
  font-size: 1em
  padding: 0.15em 0.9rem
  border-radius: 0.9em


.card-status_green
  background: $green
  color: $white

.card-status_grey
  background: $grey-lite
  color: $grey-dark
