.modal.modal-elect.modal-my-elect
  .modal__body
    h3 Мои избранные
    .modal-elect__list
      a.modal-elect__item(href="#")
        .photo
        .name Денис Митряков
      a.modal-elect__item(href="#")
        .photo
        .name Денис Митряков

      a.modal-elect__item(href="#")
        .photo
        .name Денис Митряков
      a.modal-elect__item(href="#")
        .photo
        .name Денис Митряков
      a.modal-elect__item(href="#")
        .photo
        .name Денис Митряков
      a.modal-elect__item(href="#")
        .photo
        .name Денис Митряков
      a.modal-elect__item(href="#")
        .photo
        .name Денис Митряков
    span.btn-close
      include ../btn-close.svg

