.modal.modal-wow.modal-hidden
  .modal__body
    h3 Ура!
    p Теперь вы видете данные заказчика, а он  — ваши. Свяжитесь с ним и обсудите все детали, а после выполнения оставьте отзыв.

    +button('default-green', 'Перейти в профиль заказчика')
    span.btn-close
      include ../btn-close.svg