@import "../../../sass/colors"

.datepicker-block.datepicker-is-open
  .datepicker-inline
    left: unset
    display: block
    z-index: 1

.datepicker
  width: 100%

.datepicker-block
  position: relative
  height: fit-content
  font-size: 1.6rem


  .datepicker-inline
    position: absolute
    top: 50px
    left: -10000px
    display: none

.datepicker--time-current
  display: none

.datepicker--time-sliders
  display: none

.datepicker--time
  height: 45px


.datepicker--nav-title
  padding: 11px 14px

.datepicker__select
  display: block
  font-size: 14px
  color: $black
  line-height: 19px
  padding: 4px 7px
  width: 58px
  max-width: 100%
  box-sizing: border-box
  margin: 0
  border: 0.5px solid #99DDCA
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04)
  border-radius: .5em
  -moz-appearance: none
  -webkit-appearance: none
  appearance: none
  background-color: #fff
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L7 7L13 0.999999' stroke='%2399DDCA' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")
  background-repeat: no-repeat, repeat
  background-position: right .7em top 50%, 0 0
  option

    &:hover
      background: $green

.datapicker__bottom
  position: absolute
  display: flex
  align-items: center
  width: 100%
  bottom: 9px
  z-index: 101
  padding: 0 14px

//.datepicker__select
//  border-radius: 10px
//  border: none
//  padding: 5px 7px

.datepicker-is-open .datepicker-arrow
  transform: rotate(180deg)

  path
    stroke: $black


.datepicker--buttons
  position: absolute
  bottom: 4px
  right: 14px
  z-index: 120

  .datepicker--button
    color: $green-lite
    font-size: 16px
    &:hover
      background: transparent
      color: $white

.datepicker--nav-action
  position: absolute

.datepicker--nav-bottom
  height: 200px
  width: 100%
  position: absolute
  left: 100%

.datepicker__separator
  color: $white
  font-size: 20px
  padding-left: 5px
  padding-right: 5px

.datepicker-arrow
  position: absolute
  content: ""
  top: calc(50% - 8px / 2)
  right: 18px
  width: 14px
  height: 8px

.datepicker-inline .datepicker
  border: none
  border-radius: 10px
  box-shadow: 0 10px 25px rgba(0, 52, 40, 0.2)
  font-family: Roboto, sans-serif
  background: $grey-delicate

  .datepicker--pointer
    display: none

.datepicker--time
  background: $green
  border-radius: 10px
  border: none

.datepicker--time-current
  color: $white

.datepicker--buttons
  border: none

.datepicker--button
  color: $black

  &:hover
    color: $black

.datepicker--nav
  background: $green
  border-top-left-radius: 10px
  border-top-right-radius: 10px
  border-bottom: none

.datepicker--nav-title
  i
    font-weight: 500

.datepicker--content
  background: $grey-delicate


.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after
  background: rgba(248, 248, 248, 0.3)


.datepicker--nav-title:hover
  background: rgba(248, 248, 248, 0.3)


.datepicker--nav-action[data-action="prev"]
  right: 30px

.datepicker--nav-action[data-action="next"]
  right: 14px

.datepicker--nav-action
  top: 13px
  height: 20px
  width: 16px
  display: flex
  align-items: center
  justify-content: center

  &:hover
    background: $green-delicate

  path
    stroke: $grey-lite

.datepicker--cell-day
  background: $white
  border-radius: 0
  color: $black

.datepicker--cell-day.-other-month-
  background: $grey-delicate
  border-radius: 0

.datepicker__nav-prev
  display: block
  width: 14px
  height: 8px
  transform: rotate(90deg)
  background-image: url('arrow.svg')

.datepicker__nav-next
  display: block
  width: 14px
  height: 8px
  transform: rotate(-90deg)
  background-image: url('arrow.svg')


.datepicker--content
  padding: 0

.datepicker--days-names
  margin: 0
  background: $green
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  padding: 12px 14px

.datepicker--cell.-current-
  color: $green

.datepicker--cell.-selected-
  background: $green

.datepicker--cell.-selected-.-focus-
  background: $green

.datepicker--cell.-selected-.-current-
  background: $green

.datepicker--day-name
  color: $green-lite
  text-transform: unset

  &:hover
    background: transparent

  path
    stroke: $grey-lite


.datepicker--nav-title
  color: $white
  font-size: 14px

  i
    color: $grey-lite


.datepicker input[type=range]
  -webkit-appearance: none
  margin: 10px 0
  width: 100%

.datepicker input[type=range]:focus
  outline: none

.datepicker input[type=range]::-webkit-slider-runnable-track
  width: 100%
  height: 3px
  cursor: pointer
  animate: 0.2s
  box-shadow: 0px 0px 0px #000000
  background: #EEFBF7
  border-radius: 4px
  border: 0px solid #000000

.datepicker input[type=range]::-webkit-slider-thumb
  height: 15px
  width: 15px
  border-radius: 10px
  background: $green-delicate
  border: none
  cursor: pointer
  -webkit-appearance: none
  margin-top: -6px

  &:focus
    background: $green-delicate

.datepicker input[type=range]:focus::-webkit-slider-runnable-track
  background: #EEFBF7

.datepicker input[type=range]::-moz-range-track
  width: 100%
  height: 3px
  cursor: pointer
  animate: 0.2s
  box-shadow: 0px 0px 0px #000000
  background: #EEFBF7
  border-radius: 4px
  border: 0px solid #000000

.datepicker input[type=range]::-moz-range-thumb
  box-shadow: 0px 0px 1px #000000
  border: 0px solid #000000
  height: 15px
  width: 15px
  border-radius: 50px
  background: #99DDCA
  cursor: pointer

.datepicker input[type=range]::-ms-track
  width: 100%
  height: 3px
  cursor: pointer
  animate: 0.2s
  background: transparent
  border-color: transparent
  color: transparent

.datepicker input[type=range]::-ms-fill-lower
  background: #EEFBF7
  border: 0px solid #000000
  border-radius: 8px
  box-shadow: 0px 0px 0px #000000

.datepicker input[type=range]::-ms-fill-upper
  background: #EEFBF7
  border: 0px solid #000000
  border-radius: 8px
  box-shadow: 0px 0px 0px #000000

.datepicker input[type=range]::-ms-thumb
  box-shadow: 0px 0px 1px #000000
  border: 0px solid #000000
  height: 15px
  width: 15px
  border-radius: 50px
  background: #99DDCA
  cursor: pointer

.datepicker input[type=range]:focus::-ms-fill-lower
  background: #EEFBF7

.datepicker input[type=range]:focus::-ms-fill-upper
  background: #EEFBF7
