@import "../../../sass/colors"


.notification-block
  margin-top: 3rem
  .notification
    margin-bottom: 3rem

section
  margin-bottom: 8rem

.column
  width: calc((100% / 3) - 30px)
  max-width: 320px
  min-width: 280px

.section__title
  width: 100%
  font-size: 20px
  background: #F8F8F8
  padding: 2rem
  margin: 0 0 8rem

.color
  height: 10rem
  width: 10rem
  border-radius: 2rem

  &:nth-child(1)
    background: $grad-green

  &:nth-child(2)
    background: $green

  &:nth-child(3)
    background: $green-lite

  &:nth-child(4)
    background: $green-delicate
    margin-right: 5rem

  &:nth-child(5)
    background: $orange
    margin-right: 5rem

  &:nth-child(6)
    background: $red
    margin-right: 5rem

  &:nth-child(7)
    background: $black

  &:nth-child(8)
    background: $grey-dark

  &:nth-child(9)
    background: $grey

  &:nth-child(10)
    background: $grey-lite

  &:nth-child(11)
    background: $grey-delicate

  &:nth-child(12)
    background: $white

  &:nth-child(13)
    background: $grad-green-v2




.components
  h3
    margin-bottom: 2rem

  .container
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.components
  .input,
  .select,
  .datepicker-block,
  .checkbox,
  .input-phone,
  .button
    margin-bottom: 2rem

.card,
.card-offer
  margin-bottom: 2rem

.textarea
  margin-bottom: 3.2rem

.colors
  .container
    display: flex
    flex-wrap: wrap


@media screen and (max-width: 991px)
  h1
    font-size: 5rem

  .section__title
    padding: 3rem 2rem

  .container
    padding: 0 1.5rem



