extends ../../layout/layout

include ../../components/button/button
include ../../components/input/input
include ../../components/input-password/input-password
include ../../components/select/select
include ../../components/textarea/textarea
include ../../components/datepicker/datepicker
include ../../components/input-phone/input-phone
include ../../components/checkbox/checkbox
include ../../components/add-phone-block/add-phone-block


block title

block modals
  include ../../components/modals/modal-enter/modal-enter
  include ../../components/modals/modal-reg-comp/modal-reg-comp
  include ../../components/modals/modal-reg-fiz/modal-reg-fiz
  include ../../components/modals/modal-mail-confirm/modal-mail-confirm
  include ../../components/modals/modal-tel-confirm/modal-tel-confirm
  include ../../components/modals/modal-pass/modal-pass

block main
  section.colors
    h1.section__title Цветовая схема
    .container
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
  section.typography
    h1.section__title Типографика
    .container
      h1 h1 Захавай алтайских этих булок
      h2 h2 Захавай алтайских этих булок
      h3 h3 Захавай алтайских этих булок
      h4 h4 Захавай алтайских этих булок
      h5 h5 Захавай алтайских этих булок
      p p Захавай алтайских этих булок

  section.components
    h1.section__title Компоненты
    .container
      .column
        h3 Кнопки
        +button('big-fill-log', 'Войти')
        +button('business')
        +button('setting')
        +button('send', 'Отправить новое письмо')
        +button('default-green', 'Смотреть всe')
        +button('default-orange', 'Отозвать заявку')
        +button('default-red', 'Удалить')
        +button('default-grey', 'Отказаться')
        +button('default-grad', 'Создать задание')
        +button('default-grad-big', 'Подключить')
        +button('default-orange-big', 'Добавить в избранное')

      .column
        h3 Поля ввода
        +input('E-mail', 'email')
        +input-password()
        +select('Список', 'Первый', 'Второй', 'Третий', 'Четвертый')
        +textarea('Немного напишите о себе')
        +datepicker()
        +addPhoneBlock()


      .column
        h3 Другие
        +checkbox('Ты нормальный?')
        +checkbox('Точно?')
  section.modals
    h1.section__title Модальные окна
    .container
      button.button.button_default.button-enter Вход
      button.button.button_default.button-reg-comp Регистрация компании
      button.button.button_default.button-reg-fiz Регистрация физ лица
      button.button.button_default.button-mail-confirm Подтверждение email
      button.button.button_default.button-tel-confirm Подтверждение телефона
      button.button.button_default.button-pass Пароль








