extends ../../layout/layout

include ../../components/button/button
include ../../components/input/input
include ../../components/input-password/input-password
include ../../components/select/select
include ../../components/textarea/textarea
include ../../components/datepicker/datepicker
include ../../components/input-phone/input-phone
include ../../components/checkbox/checkbox
include ../../components/add-phone-block/add-phone-block
include ../../components/tooltip/tooltip
include ../../components/feedback/feedback


block title
  |ui-kit

block modals
  include ../../components/modals/modal-enter/modal-enter
  include ../../components/modals/modal-reg-comp/modal-reg-comp
  include ../../components/modals/modal-reg-fiz/modal-reg-fiz
  include ../../components/modals/modal-mail-confirm/modal-mail-confirm
  include ../../components/modals/modal-tel-confirm/modal-tel-confirm
  include ../../components/modals/modal-pass/modal-pass

block main


  section.another
    .container
      h2.section__title Another...
      +feedback()
      +tooltip('Сделай это, сделай то. Давай завтра.')
      include ../../components/profile-person/profile-person
      include ../../components/profile-contact/profile-contact
      include ../../components/profile-rate/profile-rate
      include ../../components/profile-elect/profile-elect


  section.components
    .container
      h2.section__title Components
      .column
        h3 Кнопки
        +button('big-fill-log', 'Войти')
        +button('business')
        +button('setting')
        +button('send', 'Отправить новое письмо')
        +button('default-green', 'Смотреть всe')
        +button('default-orange', 'Отозвать заявку')
        +button('default-red', 'Удалить')
        +button('default-grey', 'Отказаться')
        +button('default-grad', 'Создать задание')
        +button('default-grad-big', 'Подключить')
        +button('default-orange-big', 'Добавить в избранное')

      .column
        h3 Поля ввода
        +input('E-mail', 'email')
        +input-password()
        +select('Список', 'Первый', 'Второй', 'Третий', 'Четвертый')
        +textarea('Немного напишите о себе')
        +datepicker()
        +addPhoneBlock()

      .column
        h3 Другие
        +checkbox('Ты нормальный?')
        +checkbox('Точно?')




  section.modals
    .container
      h2.section__title Modals
      button.button.button_default.button-enter Вход
      button.button.button_default.button-reg-comp Регистрация компании
      button.button.button_default.button-reg-fiz Регистрация физ лица
      button.button.button_default.button-mail-confirm Подтверждение email
      button.button.button_default.button-tel-confirm Подтверждение телефона
      button.button.button_default.button-pass Пароль

  section.cards
    .container
      h2.section__title Cards
      h3 Карточки заданий в профиле
      include ../../components/cards/cards-task/card
      include ../../components/cards/cards-task/card-sbor-isp
      include ../../components/cards/cards-task/card-pred-zak
      include ../../components/cards/cards-task/card-isp
      include ../../components/cards/cards-task/card-ready
      include ../../components/cards/cards-task/card-not-active
      include ../../components/cards/cards-task/card-wait-isp
      include ../../components/cards/cards-task/card-select-isp
      include ../../components/cards/cards-task/card-deny-isp
      include ../../components/cards/cards-task/card-in-work-zak
      include ../../components/cards/cards-task/card-ready-zak
      h3 Карточки заданий категорий заданий
      include ../../components/cards/cards-task/cards-category

      h3 Карточки предложений у исполнителя
      <br>
      include ../../components/cards/cards-offer/card-isp
      <br>
      h3 Карточки предложений у заказчика
      <br>
      include ../../components/cards/cards-offer/card-zak-select
      include ../../components/cards/cards-offer/card-zak-wait
      include ../../components/cards/cards-offer/card-zak-abort
      include ../../components/cards/cards-offer/card-zak-selected

  section.colors
    .container
      h2.section__title Colors
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color
      .color

  section.typography
    .container
      h2.section__title Typography
      h1 h1 Захавай алтайских этих булок
      h2 h2 Захавай алтайских этих булок
      h3 h3 Захавай алтайских этих булок
      h4 h4 Захавай алтайских этих булок
      h5 h5 Захавай алтайских этих булок
      p p Захавай алтайских этих булок









