@import "../../../sass/colors"
@import "card-status/card-status"
@import "card-person/card-person"
@import "cards-offer/cards-offer"

.card
  font-size: 1.4rem
  border: 1px solid $grey-lite
  padding: 2em 3.2rem
  border-radius: 1.1em
  display: flex
  justify-content: space-between

  .card-status
    margin-right: 1rem
    &:last-child
      margin-right: 0

  .left,
  .right
    display: flex
    flex-direction: column
    justify-content: space-between


.card_no-active
  background: $grey-delicate

  h4
    color: $grey

  .card-title__link
    &:hover
      text-decoration-color: $grey

  .card-info__price
    background: $grey

.card_category
  .button
    display: none

  &:hover
    border-color: $green

    .button
      display: block



.card-title
  margin-bottom: 6.5rem
  h4
    margin-bottom: 0.6em

.card-title__link
  color: $black
  &:hover
    text-decoration: underline

.card-info
  display: flex
  flex-direction: column
  align-items: flex-end

.card-info__price
  background: $green
  color: $white
  font-size: 1.8rem
  padding: 0.33em 1.4rem
  border-radius: 1em
  width: max-content
  margin-bottom: 2.4rem

.card-info__respond,
.card-info__date
  color: #858585
  padding-left: 20px
  position: relative
  display: flex
  align-items: center
  height: 19px
  width: max-content

  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    background-size: contain
    background-repeat: no-repeat

.card-info__date
  user-select: none
  &:before
    background-image: url("time.svg")
    height: 16px
    width: 16px

  &:hover .tooltip
    display: block

  .tooltip
    display: none
    position: absolute
    z-index: 10
    bottom: calc(100% + 1rem)
    left: 0

.card-info__respond
  margin-bottom: 1.5rem
  &:before
    top: 0
    background-image: url("respond.svg")
    height: 18px
    width: 17px

.card-buttons
  display: flex
  align-items: flex-end
  flex-wrap: wrap
  justify-content: flex-end
  .button
    &:last-child
      margin-left: 1.5rem
      margin-top: 1rem


@media screen and (max-width: 768px)
  .card
    .card-buttons
      width: 100%

      .button
        width: 100%
        margin-left: 0

  .card_category
    .button
      display: block
      width: 100%
      font-size: 1.6rem


@media screen and (max-width: 500px)
  .card
    padding: 1em 2.2rem
    flex-direction: column
    position: relative

    .left
      position: relative


    .card-person
      flex-direction: column
      position: absolute
      top: 100%

    .card-info,
    .card-person
      height: 12rem
      justify-content: space-between
      margin-bottom: 2rem

  .card-buttons
    flex-direction: column

    .button
      width: 100%
      margin-left: 0





  .card-title
    margin-bottom: 2rem

  .card-info__price,
  .card-info__respond
    margin: 0

  .card-person__name
    margin-bottom: 0.5rem

  .card-status
    display: block

@media screen and (max-width: 450px)
  .card_category
    .card-buttons
      .button
        display: block
        width: 100%

