.modal.modal-deny.modal-hidden
  .modal__body
    h5 Вы точно хотите отозвать свое предложение?
    +button('default-grey', 'Да')
    +button('default-green-fill', 'Нет')
    span.btn-close
      include ../btn-close.svg