.modal.modal-pass.modal-hidden
  .modal__body
    h3 Придумайте пароль

    +input-password()
    +input-password('Подтвердите пароль')

    +button('big-fill-log', 'Войти в кабинет')

    span.btn-close
      include ../btn-close.svg
    span.modal-role Регистрация
      include ../icon-modal.svg