include ../../input/input
include ../../input-phone/input-phone

.modal.modal-reg-comp.modal-hidden
  .modal__body
    form(name="registrationCompany")
      +input('Наименование компании')
      +input('ИНН')
      +input('Город', 'text', '#input-city-comp')
      +input('Адрес офиса компании')
      +input('Email', 'email')
      +inputPhone('simple')
      +input('ФИО представителя', 'name')
      +button('big-fill-log', 'Зарегистрироваться')
      a.link-green.button-reg-fiz Зарегистрироваться как физ.лицо
      +social-sign('Зарегистрироваться с помощью соц.сетей')

    span.btn-close
      include ../btn-close.svg
    span.modal-role Регистрация
      include ../../../../assets/img/icon-enter.svg