extends ../../layout/layout

block title
  | Подписка

block main
  .tariff-header
    .container
      h2 Подключите премиальный тариф<br> всего за 300₽/мес.
      +button('default-grad', 'Подключить')
  .tariff-body
    .container
      .tariff-body__title
        h2 Что дает тариф
        p Возможность стать быстрее и успешнее сразу в двух ролях:
      .tariffs
        .tariff
          h3.tariff__title Заказчику
          .tariff__list
            .tariff__item
              include brilliant.svg
              h5 Создание премиум-заказов
              p Смогут откликаться только исполнители с хорошей репутацией и заполненным профилем.
            .tariff__item
              include star.svg
              h5 Создание премиум-заказов
              p Смогут откликаться только исполнители с хорошей репутацией и заполненным профилем.
            .tariff__item
              include up.svg
              h5 Создание премиум-заказов
              p Смогут откликаться только исполнители с хорошей репутацией и заполненным профилем.
            .tariff__item
              include people.svg
              h5 Создание премиум-заказов
              p Смогут откликаться только исполнители с хорошей репутацией и заполненным профилем.
        .tariff
          h3.tariff__title Заказчику
          .tariff__list
            .tariff__item
              include brilliant.svg
              h5 Создание премиум-заказов
              p Смогут откликаться только исполнители с хорошей репутацией и заполненным профилем.
            .tariff__item
              include star.svg
              h5 Создание премиум-заказов
              p Смогут откликаться только исполнители с хорошей репутацией и заполненным профилем.
            .tariff__item
              include up.svg
              h5 Создание премиум-заказов
              p Смогут откликаться только исполнители с хорошей репутацией и заполненным профилем.
            .tariff__item
              include people.svg
              h5 Создание премиум-заказов
              p Смогут откликаться только исполнители с хорошей репутацией и заполненным профилем.

      +button('default-grad', 'Подключить тариф')


block modals
