include ../input-phone/input-phone

mixin addPhoneBlock()
  div.phones-block
    +inputPhone("messenger")
    div.add-phone-button
      button.add-phone-button__button
        include plus.svg
      span Добавить номер телефона

