include ../../button/button

.modal.modal-mail-confirm.modal-hidden
  .modal__body
    h3 Подтвердите адрес вашей почты
    p На ваш электронный адрес <span id="contact">ydgf@mail.ru</span> было отправлено письмо с кодом для подтверждения вашей почты на ClickLife. <br><br> Введите код отправленный вам на почту, состоящий из 4 цифр в эту форму:

    form(name="codeConfirm")
      +input()
      +button('big-fill-log', 'Отправить')

    .mail-confirm
      +button('send', 'Отправить код повторно')
    +button('send', 'Указать другую почту')

    span.btn-close
      include ../btn-close.svg
    span.modal-role Регистрация
      include ../../../../assets/img/icon-enter.svg