extends ../../layout/layout-logout

block title
  | Обратная свзяь

block main
  .container
    h2.page-title Часто задаваемвые вопросы
    .faq-list
      .faq-item.-is-open-
        .faq-item__title Почему мы не любим рассольник
          include arrow.svg
        .faq-item__body Потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что
      .faq-item
        .faq-item__title Почему?
          include arrow.svg
        .faq-item__body Потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что
      .faq-item
        .faq-item__title Почему?
          include arrow.svg
        .faq-item__body Потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что
      .faq-item
        .faq-item__title Почему?
          include arrow.svg
        .faq-item__body Потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что
      .faq-item
        .faq-item__title Почему?
          include arrow.svg
        .faq-item__body Потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что
      .faq-item
        .faq-item__title Почему?
          include arrow.svg
        .faq-item__body Потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что потому что
