@import "../../../sass/colors"

.wrapper
  max-width: calc(100% - 28rem - 2rem)
  width: 100%

main
  .container
    display: flex
    justify-content: space-between
    padding-top: 5rem
    padding-bottom: 8rem
    flex-wrap: wrap

.aside
  max-width: 28rem
  width: 100%

.button_business
  margin-left: 3.2rem
  margin-bottom: 6rem



.information
  margin-bottom: 6rem

.detail-information.-info-hidden-
  .contact, .about
    display: none

.information__header
  margin-bottom: 1.5rem

.information__sub
  font-size: 1.8rem
  margin-bottom: 5rem

.profile-person
  margin-bottom: 3rem

.profile-contact
  margin-right: 5rem

.contact
  display: flex
  margin-bottom: 7rem

.about
  margin-bottom: 3rem
  h5, pre
    margin-bottom: 2.5rem

.profile-categories
  margin-bottom: 8rem

.tab-nav
  display: flex

.tab-nav__item
  margin-right: 1.3em
  color: $grey
  cursor: pointer

  &:last-child
    margin-right: 0

.tab-nav__item.-active-
  color: $black

.skills
  margin-top: 3.5rem

.skills__list
  display: flex
  flex-wrap: wrap
  margin-bottom: 1.5rem

.skills__item
  border-radius: 1.6rem
  border: 1px solid $black
  padding: 0.3em 0.6em
  margin-right: 1rem
  margin-bottom: 1rem

  &:last-child
    margin-right: 0

.tasks
  margin-top: 7rem
  h5
    margin-bottom: 1.5rem

  .tab-nav
    margin-bottom: 2.5rem

.tasks__list
  margin-bottom: 4rem

.card
  margin-bottom: 2rem
  &:last-child
    margin-bottom: 0


.feedbacks
  h5
    margin-bottom: 2.5rem

.feedback
  margin-bottom: 4rem

