include ../../components/like-dislike/like-dislike

mixin feedback(type)
  case type
    when 'default'
      .feedback
        .feedback__photo
        .right
          span.feedback__name Денис Митряков
          +like-dislike()
          p.feedback__message Он ваще красавчик, всё сделал за 5 сек, профессионально, качественно и всего за 100к
    when 'feedback'
      .feedback
        .feedback__photo
        .right
          span.feedback__name Денис Митряков
          +like-dislike()
          p.feedback__message Он ваще красавчик, всё сделал за 5 сек, профессионально, качественно и всего за 100к
          +button('default-green', 'Оставить отзыв в ответ')
    when 'report'
      .feedback
        .feedback__photo
        .right
          span.feedback__name Денис Митряков
          .row
            +like-dislike()
            +button('report')
          p.feedback__message Он ваще красавчик, всё сделал за 5 сек, профессионально, качественно и всего за 100к
