.modal.modal-reg-fiz.modal-hidden
  .modal__body
    form
      +input('Имя и Фамилия')
      +input('Телефон или email', 'email')
      +input('Город')
      +button('big-fill-log', 'Зарегистрироваться')
      a.link-green(href='#') Зарегистрироваться как компания
      +social-sign('Зарегистрироваться с помощью соц.сетей')

    span.btn-close
      include ../btn-close.svg
    span.modal-role Регистрация
      include ../../../../assets/img/icon-enter.svg