.modal.modal-reg-fiz.modal-hidden
  .modal__body
    form(name="registration")
      +input('Имя и Фамилия', 'text', 'req')
      +input('Телефон или email', 'text')
      +input('Город')
      +button('big-fill-log', 'Зарегистрироваться')
      a.link-green.button-reg-comp Зарегистрироваться как компания
      +social-sign('Зарегистрироваться с помощью соц.сетей')

    span.btn-close
      include ../btn-close.svg
    span.modal-role Регистрация
      include ../../../../assets/img/icon-enter.svg