@import "../../../../sass/colors"

.modal-tasks
  .modal__body
    max-width: 57rem

.modal-tasks__item
  padding: 2rem
  display: flex
  justify-content: space-between
  align-items: center
  border: 1px solid $grey-lite
  border-radius: 1em
  margin-bottom: 1rem

  &:last-child
    margin-bottom: 0