.modal.modal-tasks
  .modal__body
    .modal-tasks__list
      .modal-tasks__item
        h5 Разработать логотип
        +button('default-red', 'Отозвать предложение')
      .modal-tasks__item
        h5 Разработать логотип
        +button('default-green', 'Предложить')
      .modal-tasks__item
        h5 Разработать логотип
        +button('default-green', 'Предложить')
      .modal-tasks__item
        h5 Разработать логотип
        +button('default-green', 'Предложить')
    span.btn-close
      include ../btn-close.svg

