mixin notification()
  .notification
    .notification__photo
    p.notification__message Пользователь Денис Митряков предложил вам задание: <a href="#" class="notification__link">Сделать аборт</a>
    span.notification__time вчера, 11:34