.profile-contact
  .profile-contact__number +7 (923) 667 98 65
    include wsup.svg
    include viber.svg
    include tg.svg
  .profile-contact__number +7 (923) 667 98 65
  .profile-contact__skype live:denchikslaziet
  .profile-contact__mail denchikslez@milo.ua
  .profile-contact__business Улица Пушкина, д. Калатушкина
  .profile-contact__business ИНН: 93213124

  .bottom
    .social
      a(href="#")
        include facebook.svg
      a(href="#")
        include vk.svg
      a(href="#")
        include ok.svg
