@import "../../../sass/colors"

.main
  min-height: calc(100vh - 10rem)

.page-title
  margin-top: 4.5rem
  margin-bottom: 7rem

.settings
  display: flex
  justify-content: space-between

  h5
    margin-bottom: 2.5rem

  .message
    font-size: 1.6rem
    color: $grey-dark
    line-height: 1.5em


  .label
    margin-top: 2rem
    font-size: 1.6rem
    color: $black
    margin-bottom: 0.7rem

  .button_green-fill
    margin-top: 2rem


.btn-simple
  cursor: pointer
  display: block
  margin-top: 0.7rem
  color: $green

.password
  width: 28rem
  margin-right: 3rem

  .input
    margin-bottom: 2rem
    &:last-child
      margin: 0

  .button
    margin-top: 0.7rem

.email
  width: 28rem
  margin-right: 2rem

.number
  width: 28rem


.input_fixed
  font-size: 1.6rem
  padding: 0.5em 1.2rem 0.375em
  line-height: 1.5em
  border: none
  width: 100%
  color: $grey-delicate
  background: $grey-dark
  border-radius: 0.625em

.input_fixed.lite
  background: $grey-delicate
  color: $grey-dark

input.input_wait-sumbited
  background: $grey-delicate
  color: $grey-dark


@media screen and (max-width: 768px)
  .page-title
    margin: 0

  .settings
    flex-wrap: wrap

  .password,
  .number,
  .email
    min-width: 280px
    margin-bottom: 5rem





