extends ../../layout/layout
include ../../components/input/input
include ../../components/button/button
include ../../components/input-phone/input-phone

block title
  | Настройки

block main
  .container
    h2.page-title Общее

    .settings
      .password
        h5 Изменить пароль
        +input('Старый пароль')
        +input('Новый пароль')
        +input('Повторите новый пароль')
        +button('default-green-fill', 'Изменить')
      .email
        h5 Электронная почта
        // Если почта подтверждена
        .email-confrimed
          input.input_fixed(value="denisonepiece@icloud.com" type="text" readonly)
          +button('default-green-fill', 'Изменить')
        // Нет почты
        .email-without(style="display: none")
          p.message Вы можете привязать к странице ваш адрес эл.почты.<br> Это позволит защитить ваш аккаунт.
          +button('default-green-fill', 'Добавить почту')
        // Ввод почты
        .email-input(style="display: none")
          +input('denisonepiece@icloud.com', 'email')
          +button('default-green-fill', 'Добавить почту')

        // Подтверждение почты
        .email-confrim(style="display: none")
          input.input_fixed.lite(value="denisonepiece@icloud.com" type="text" readonly)
          a.btn-simple Указать другой email

          p.label Введите код
          +input('Код', 'text')
          a.btn-simple Отправить код повторно

          +button('default-green-fill', 'Отправить')

      .number
        h5 Номер телефона
          // Если номер подтвержден
        .number-confrimed
          input.input_fixed(value="+79236656675" type="text" readonly)
          +button('default-green-fill', 'Изменить')
        // Нет номера
        .number-without(style="display: none")
          p.message Вы можете привязать к странице ваш личный телефон.<br> Это позволит защитить ваш аккаунт.
          +button('default-green-fill', 'Добавить номер телефона')
        // Ввод номера
        .number-input(style="display: none")
          +input('Номер телефона', 'tel')
          +button('default-green-fill', 'Подтвердить номер')
        // Подтверждение номера
        .number-confrim(style="display: none")
          input.input_fixed.lite(value="+79236656675" type="text" readonly)
          a.btn-simple Указать другой номер

          p.label Введите код
          +input('Код', 'text')
          a.btn-simple Отправить код повторно

          +button('default-green-fill', 'Отправить')



