@import "../../../sass/colors"

.content
  max-width: 58rem
  padding-bottom: 15rem

.row
  display: flex
  justify-content: space-between

.select
  width: 100%
  max-width: 28rem

.textarea
  width: 100%

.task-create
  .button_big
    margin-top: 8rem

.task-create__title
  margin-bottom: 4.5rem

  .input
    margin-bottom: 2rem

.task-create__about
  margin-bottom: 4.5rem
  position: relative

.task-create__dates
  display: flex
  justify-content: space-between
  margin-bottom: 4.5rem

.task-create__date
  width: 100%
  max-width: 28rem

.label
  color: $grey-dark
  margin-bottom: 1rem

.place__items
  display: flex
  margin-bottom: 1rem
  flex-wrap: wrap

.place__radio
  font-size: 1.4rem
  height: 100%
  margin-right: 1rem
  cursor: pointer
  margin-bottom: 1rem

  &:last-child
    margin-right: 0

  input
    position: absolute
    width: 0
    height: 0
    opacity: 0

  span
    border: 1px solid $grey-dark
    border-radius: 1.6rem
    color: $grey-dark
    display: block
    padding: 0.35em 1em



  input:checked ~ span
    background: $green
    border-color: $green
    color: $white


.task-create__place
  margin-bottom: 5rem

.place__address
  display: none

  #map
    margin-top: 1.2rem
    border-radius: 1rem
    border: 5px solid $grey-delicate

  #notice
    color: $red
    margin-top: 1rem
    padding-left: 1.2rem

.task-create__type
  margin-bottom: 9rem
  .checkbox
    margin-bottom: 1.5rem

.task-create__price
  font-size: 1.6rem
  margin-bottom: 1rem


.task-create__budget
  h5
    margin-bottom: 3.5rem

  .select
    margin-top: 3rem

  .input__message
    padding-left: 0


.load-files
  max-width: 25rem
  display: block
  position: absolute
  left: calc(100% + 2rem)
  top: 0
  width: max-content

  input
    position: absolute
    width: 0
    height: 0
    opacity: 0

  .sub
    color: $grey

.input-file
  display: block
  cursor: pointer
  width: 100%

  .label
    color: $green
    font-weight: 500
    padding-left: 2rem
    position: relative
    line-height: 20px

    svg
      position: absolute
      left: 0

.load-files__list
  display: flex
  flex-direction: column
  margin-bottom: 1rem

.load-files__item
  color: $black
  font-weight: 500
  margin-bottom: 0.7rem
  position: relative
  padding-right: 16px

  a
    word-break: break-word
    color: $black
    text-decoration: underline

  .btn-delete
    height: 16px
    width: 16px
    display: block
    position: absolute
    top: calc(50% - 8px)
    right: 0
    cursor: pointer

    &:before,
    &:after
      content: ''
      position: absolute
      top: 6px
      left: 0
      background: $red
      height: 2px
      width: 15px

    &:after
      transform: rotate(45deg)

    &:before
      transform: rotate(-45deg)

.modal-enter
  h4
    margin-bottom: 3rem


@media screen and (max-width: 768px)
  .place__radio
    font-size: 1.7rem

  .content
    max-width: unset

  .load-files
    position: unset
    width: 100%
    max-width: unset

    .label
      margin-top: 1rem
      margin-bottom: 0

    .sub
      display: none

  .select,
  .task-create__date
    max-width: calc(50% - 1rem)

  .input-file
    margin-bottom: 1rem

@media screen and (max-width: 500px)
  .select,
  .task-create__date
    max-width: unset
    margin-bottom: 1.5rem

  .task-create__title .row,
  .task-create__dates
      flex-direction: column

  .input_price
    max-width: unset
    display: block
    margin-top: 1rem



