footer.footer
  .container
    .footer-nav
      .logo
        include ../../../assets/img/logo.svg
      ul.footer-nav__list
        li.footer-nav__item
          a(href="#") Контакты
        li.footer-nav__item
          a(href="#") Служба поддержки
        li.footer-nav__item
          a(href="#") Правила сервиса
        li.footer-nav__item
          a(href="#") Частые вопросы

    .footer-social
      a.footer-social__item(href='#')
        include facebook.svg
      a.footer-social__item(href='#')
        include vk.svg
      a.footer-social__item(href='#')
        include tg.svg

