footer.footer
  .container
    .footer-nav
      .logo
        include ../../../assets/img/logo.svg
      ul.footer-nav__list
        li.footer-nav__item
          a(href="feedback.html") Обратная связь
        li.footer-nav__item
          a(href="faq.html") Частые вопросы

    .footer-social
      a.footer-social__item(href='#')
        include facebook.svg
      a.footer-social__item(href='#')
        include vk.svg
      a.footer-social__item(href='#')
        include tg.svg

