@import "../../../sass/colors"

.profile-person
  display: flex
  align-items: center

.profile-person__photo
  height: 16rem
  width: 16rem
  background-image: url("../../../assets/img/greyscale-square.png")
  background-position: top center
  background-size: 110%
  border-radius: 50%
  border: 3px solid $white
  box-shadow: 0 0 0 3px $grey-lite
  margin-right: 3.5rem

.profile-person__name
  margin-bottom: 0.6rem

.profile-person__city
  color: #ACACAC
  margin-bottom: 2rem

.profile-person__tasks
  display: flex

.profile-person__task
  max-width: 10rem
  color: #C5C5C5
  b
    display: block
    font-size: 2.4rem
    color: $black

