.profile-person
  .profile-person__photo
  .profile-person__info
    .row
      h4.profile-person__name Денис Митряков
      +button('setting')
    p.profile-person__city Горно-Алтайск
    .profile-person__tasks
      span.profile-person__task <b>69</b> Созданно заданий
      span.profile-person__task <b>228</b> Выполненно заданий