@import "../../../sass/colors"
@import "../../../sass/rules"

main
  .container
    display: flex
    justify-content: space-between
    padding-top: 4.5rem
    padding-bottom: 8rem
    flex-wrap: wrap

.task-top
  display: flex
  justify-content: space-between
  align-items: center

  .task-creator
    display: none

.warn
  position: relative
  font-size: 1.6rem
  font-weight: bold
  color: $orange
  padding-left: 2.7rem
  display: flex
  align-items: center
  margin-bottom: 2.5rem
  margin-left: 3rem

  svg
    position: absolute
    left: 0


.page-title
  margin-bottom: 2rem
  padding: 0

.task-price
  color: $green
  background: $green-delicate
  padding: 1.2rem 2rem
  width: fit-content
  border-radius: 4.3rem
  font-weight: 500
  margin-bottom: 2.5rem

.task-state
  display: flex
  align-items: center
  margin-bottom: 3rem

  .card-status
    margin-bottom: 0
    margin-right: 1rem

.task-state__list
  display: flex

.task-state__item
  display: flex
  align-items: center
  color: $grey-dark
  padding: 0 1.5rem
  border-left: 1px solid $grey-dark

  &:first-child
    border: none

  &:last-child
    color: $grey
    border-color: $grey

.task-information
  padding: 3rem 1.1rem 8rem
  border: 1px solid $grey-lite
  border-radius: 1.5rem
  position: relative

  .button
    position: absolute
    bottom: -3rem
    left: 3rem

.task-information__item
  display: flex
  padding: 0 2.5rem
  margin-bottom: 2.5rem


.task-information__item.accent
  background: $grey-delicate
  border-radius: 1.5rem
  padding: 2.5rem 2.5rem

  p
    max-width: 75rem
    word-break: break-word

.task-information__content
  line-height: 1.5


.task-information__title
  min-width: 13rem
  font-size: 1.6rem
  font-weight: 700

.document
  color: #2F80ED
  text-decoration: underline
  margin-right: 1.5rem

.task-creator
  display: flex

  .name
    font-size: 1.8rem
    margin-top: .7rem
    margin-bottom: .5rem

  .sub
    color: $grey
    margin-bottom: 1rem

  .rate
    margin-bottom: 2rem

  .photo
    @extend %photo
    background-image: url("../../../assets/img/greyscale-square.png")
    height: 8.5rem
    width: 8.5rem
    min-width: 8.5rem
    margin-right: 1.5rem


.button.-disable-
  background: $grey
  box-shadow: none
  cursor: default

  &:hover
    background: $grey

.warn-message
  max-width: 38rem
  position: relative
  padding-left: 3.2rem
  margin-left: 3rem
  margin-top: 5rem
  line-height: 1.5em

  svg
    position: absolute
    left: 0
    top: 0

  a
    color: $green
    text-decoration: underline

    &:hover
      color: $green-lite


.task-offer
  margin-top: 9rem

  h4
    margin-bottom: 5rem


.card-offer
  margin-bottom: 7rem

.task-header
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: 2.5rem

.task-menu
  margin-top: 0.75rem
  cursor: pointer
  width: 4rem
  min-width: 4rem
  height: 4rem
  text-align: center
  line-height: 4rem
  font-size: 3rem
  color: $black
  position: relative

.task-menu__list
  background: $white
  display: none
  width: max-content
  position: absolute
  font-size: 14px
  line-height: 19px
  font-weight: 400
  border-radius: 10px
  right: 0
  border: 1px solid $grey-lite
  overflow: hidden
//box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05)

.task-menu.-is-open-

  .task-menu__list
    display: block

.task-menu__item
  display: block
  padding: 0.5rem 1.5rem
  text-align: start
  border-bottom: 1px solid $grey-delicate

  a
    color: black

  &:last-child
    border: none
    background: white

  &:hover
    background: $grey-lite


.task-menu__item.delete
  color: $red

.task-created
  .aside
    display: flex
    justify-content: flex-end

  .task-offer
    h4
      margin-bottom: 0

    p.sub
      color: $grey-dark
      margin-bottom: 4rem


.share
  margin-top: 1.5rem

  h4
    margin-bottom: 1rem

  p
    color: $grey-dark
    margin-bottom: 1.5rem

@media screen and (max-width: 768px)

  .task-header
    h2
      font-size: 3.5rem

  .task-top
    flex-wrap: wrap
    margin-bottom: 2rem

    .task-creator
      display: flex

  .task-created
    .aside
      max-width: unset
      display: flex
      justify-content: flex-start


  .task-information__title
    min-width: 10rem

@media screen and (max-width: 500px)
  .row
    flex-direction: column-reverse
    align-items: flex-start

  .warn
    margin-left: 0

  .warn-message
    margin-left: 0
